<body>
  <div class="container">
    <section id="head">
      <div class="left">
        <h1>DESCUBRE TODA LAS GAMAS DE NATURE'S PAWS</h1>
        <p>Elaboramos nuestras recetas con ingredientes naturales, de proveedores de confianza, a través de procesos que
          respetan los valores nutritivos de cada uno de ellos, descubre quá aportan cada uno de ellos.</p>
      </div>
      <div class="right">
        <img src="../../../../assets/husky.jpg" alt="">
      </div>
    </section>


    <section id="gamas">
      <h1 id="headerh1">GAMAS PARA PERRO Y GATO</h1>
      <div class="leftPad">
        <div class="boxLeft">
          <div class="imgL">
            <img
              src="https://bc-affinitycontent.cec.ocp.oraclecloud.com/content/published/api/v1.1/assets/CONT120197B8B0514223BAA22326689E2364/native?cb=_cache_d743&channelToken=a5af575de2b442e0aea886b3f314a2a5"
              alt="">
          </div>
          <div class="textD">
            <h1 class="typografy">Selected</h1>
            <p>Mayor cantidad de carne deshuesada, con pollo campero o salmón noruego como ingrediente principal. </p>
            <a  >SABER MÁS</a>
          </div>
        </div>
      </div>
      <div class="leftPad" id="rigthBox">
        <div class="boxLeft" id="righBox">
          <div class="imgL" id="imgR">
            <img
              src="https://bc-affinitycontent.cec.ocp.oraclecloud.com/content/published/api/v1.1/assets/CONT7A58269BFA124F8FBD603D45F500C4C1/native?cb=_cache_d743&channelToken=a5af575de2b442e0aea886b3f314a2a5"
              alt="">
          </div>
          <div class="textD">
            <h1 class="typografy">Original</h1>
            <p>Alimentación sana y equilibrada con cereales o sin cereales, gracias a la combinación entre carne
              deshuesada o pescado sin espinas como ingrediente principal, y una excelente mezcla de frutas y verduras.
            </p>
            <a  >SABER MÁS</a>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h1 id="headerh1">NUESTRAS RECETAS</h1>
      <div class="items">
        <p class="pite">Tu perro o gato se merece una nutrición natural de calidad, por eso en Nature's Variety:</p>
        <div class="itemShow">
          <div class="iS1">
            <div class="imgCovIS">
              <img
                src="https://bc-affinitycontent.cec.ocp.oraclecloud.com/content/published/api/v1.1/assets/CONT2F25BA25B00C4EC38BD6AD1C440EDFDE/native?cb=_cache_2e9d&channelToken=a5af575de2b442e0aea886b3f314a2a5"
                alt="">

            </div>
            <div class="txtCovIs">
              <p>Nuestras recetas contienen carne deshuesada o pescado sin espinas de alta calidad.</p>

            </div>
          </div>
          <div class="iS1">
            <div class="imgCovIS">
              <img
                src="https://bc-affinitycontent.cec.ocp.oraclecloud.com/content/published/api/v1.1/assets/CONTA3C672220DA647B4B876A8A22223D110/native?cb=_cache_2e9d&channelToken=a5af575de2b442e0aea886b3f314a2a5"
                alt="">

            </div>
            <div class="txtCovIs">
              <p>Todos nuestros ingredientes tienen un propósito, elaboramos recetas más simples y fáciles de entender.
              </p>
            </div>

          </div>
          <div class="iS1">
            <div class="imgCovIS"><img
                src="https://bc-affinitycontent.cec.ocp.oraclecloud.com/content/published/api/v1.1/assets/CONTB3BA16065648479E9A28635234D81A64/native?cb=_cache_2e9d&channelToken=a5af575de2b442e0aea886b3f314a2a5"
                alt=""></div>
            <div class="txtCovIs">
              <p>Incluímos frutas, verduras, cereales, legúmbres y superalimentos para una alimentación sana y
                equilibrada
              </p>
            </div>

          </div>
          <div class="iS1">
            <div class="imgCovIS">
              <img
                src="https://bc-affinitycontent.cec.ocp.oraclecloud.com/content/published/api/v1.1/assets/CONT59096266CD0F4A01AD59E5C33F59C1F4/native?cb=_cache_2e9d&channelToken=a5af575de2b442e0aea886b3f314a2a5"
                alt="">
            </div>
            <div class="txtCovIs">
              <p>Todas nuestras recetas se elaboran sin conservantes, colorantes ni aromas artificiales</p>

            </div>
          </div>


        </div>
      </div>

    </section>

    <section id="elaboracion">
      <div class="imgCF">.
        <img src="https://bc-affinitycontent.cec.ocp.oraclecloud.com/content/published/api/v1.1/assets/CONTFE50915031F2427CB9D97C439F148151/native?cb=_cache_2e9d&channelToken=a5af575de2b442e0aea886b3f314a2a5" alt="">
      </div>
      <div class="txtEl">
        <h1 id="headerh1">¿QUIERES SABER CÓMO ELABORAMOS NUESTROS PRODUCTOS?</h1>
        <a href="como-hacemos-nuestra-cocina-natural" class="aBtn">DESCUBRE CÓMO LO HACEMOS</a>
      </div>
    </section>
  </div>
</body>
