@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat&family=Great+Vibes&display=swap');

:root {
  --primary-100: #8BC34A;
  --primary-200: #6da52d;
  --primary-300: #286400;
  --accent-100: #FF9800;
  --accent-200: #8f3d00;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #F5F5F5;
  --bg-200: #ebebeb;
  --bg-300: #c2c2c2;

}

section {
  height: auto;
  padding-bottom: 100px;
}

#head {
  display: flex;
  flex-direction: row;
  height: 60vh;
  background-color: #7CB342;
}

.left {
  width: 40%;

}

.left h1 {
  font-size: 52px;
  padding-top: 100px;
  padding-inline: 90px;
  font-weight: 900;
}

.left p {
  padding-left: 90px;
  line-height: 25px;
  font-size: 16px;
  padding-top: 20px;
}

.right {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.right img {
  width: 120%;

}

#gamas {
  padding: 50px;
  height: auto;
}

#headerh1 {
  padding: 30px;
  font-size: 48px;
  color: #286400;
  font-weight: 900;
}

.typografy {
  font-family: 'Great Vibes', cursive;
  font-size: 59px;
  letter-spacing: 3px;
  color: #286400;
}

.leftPad {
  display: flex;
  justify-content: flex-start;
}

#rigthBox {
  justify-content: flex-end;
}

.boxLeft {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.imgL {
  width: 60%;
  display: flex;

  justify-content: flex-start;

}

#imgR {
  display: flex;
  justify-content: flex-end;
}

.imgL img {
  width: 80%;
}

.textD {
  width: 40%;
  height: 25vh;
  display: flex;
  flex-direction: column;
}

.textD p {
  font-size: 18px;
  color: #286400;
  padding-bottom: 30px;
  padding-left: 30px;
}

a {
  color: #6da52d;
  text-decoration: none;
  line-height: 30px;
  border-bottom: 1px solid #6da52d;
  width: 120px;
  font-weight: 900;
  letter-spacing: 2px;
  margin-left: 30px;
}

a:hover {
  color: #286400;
  border-bottom: 1px solid #286400;
  animation: infinite 1s ease-in-out;
}


#righBox {
  flex-direction: row-reverse;
  justify-content: flex-end;

}

.items {
  padding-left: 30px;
}

.itemShow {
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  padding-top: 50px;
}

.iS1 {
  width: calc(20%);
  display: flex;
  flex-direction: column;
  height: 200px;
}

.imgCovIS {
  height: 30%;
}

.imgCovIS img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.txtCovIs {
  flex: 70%;
  height: 70%;
  margin-top: 30px;
}

#elaboracion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.imgCF img {
  max-width: 500px;
}

.aBtn {
  padding: 15px;
  background-color: #286400;
  color: white;
  font-size: 14px;
}

@media (min-width: 1920px) {
  body {
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    height: auto;
  }

  .container {
    max-width: 1920px;
  }
}

@media (max-width: 768px) {
  body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #head {
    flex-direction: column-reverse;
    height: auto;
  }

  .left {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .left h1 {
    font-size: 32px;
    padding: 10px;
    margin: 0;
  }

  .left p {
    font-size: 16px;
    padding: 10px;
    margin: 0;
  }

  .right {
    width: 100%;
    overflow: hidden;
  }

  .right img {
    width: 100%;
  }

  #headerh1 {
    padding: 0;
    font-size: 32px;
    padding-bottom: 30px;
  }

  #gamas {
    height: auto;
    padding: 0;
  }

  .boxLeft {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .imgL {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .imgL img {
    width: 60%;
    padding-top: 20px;
  }
  #imgR {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .textD {
    width: 100%;
    padding: 30px 10px 10px 10px;
    margin: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textD h1 {

    font-size: 36px;
  }



  .textD p {
    font-size: 18px;
    color: #286400;
    padding: 10px;
  }

  #righBox {
    flex-direction: column-reverse;
  }

  #headerh1 {
    display: flex;
    justify-content: center;
  }

  .itemShow {
     display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: auto;
    padding-top: 50px;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .items {
    width: 100%;
    padding: 0;
    margin: 0;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .pite{
    width: 100%;
    margin-left: 30px;
   }
  .iS1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
    overflow: hidden;
  }
  .txtCovIs {
    flex: 100%;
    height: auto;
    margin-top: 30px;
    width: 90%;
  }

  #elaboracion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .imgCF{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .imgCF img {
    width: 80%;
  }
  .txtEl{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .aBtn {
    padding: 15px 0;
    background-color: #286400;
    color: white;
    font-size: 14px;
    width: 60%;
  }

}
