#columns {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  height: 105vh;

}

.container {
  width: 100%;
  height: 105vh;
  position: absolute;
  top: -200px;
}

.image-container {
  width: 100%;
  height: 105%;
  transition: opacity 0.5s ease;

}

img {
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
  overflow-x: hidden;

}
