<!-- <body>


  <div  class="container">


    <section  id="cabeceraNutricion">
      <div class="text">
        <h1>NUTRICIÓN NATURAL PARA TU PERRO O GATO</h1>
        <P>Elegimos ingredientes de alta calidad, producidos por proveedores locales, respetando sus nutrientes, para
          que tu mascota disfrute de una dieta sana, sabrosa y equilibrada</P>
        <a href="como-hacemos-nuestra-cocina-natural">DESCUBRE CÓMO LO HACEMOS</a>
      </div>
      <div class="imgMask">

        <img *ngIf="perroImagen" src="../../../assets/husky.jpg" alt="">
        <img *ngIf="!perroImagen" src="../../../assets/gato.jpg" alt="">
      </div>

    </section>

    <section   id="preguntaMascota">
      <div class="textoPreguntaMascota">
        <h1>¿TIENES PERRO O GATO?</h1>
        <p>Recetas completas y equilibradas con carne o pescado como ingrediente principal</p>
        <div class="textoPreguntMascotaAnc">
          <a href="">NUESTRAS GAMA DE PRODUCTOS</a>
        </div>
      </div>
      <div class="PerroPreguntaMascota">
        <img class="manchaPerro" [style.display]="mostrarManchaPerro ? 'block' : 'none'"
          src="../../../assets/manchaPerro.webp" alt="">
        <div (mouseenter)="mostrarMancha('P')" (mouseleave)="ocultarMancha('P')">
          <a class="afotoPerroPregunta" href="">
            <img class="fotoPerroPregunta" src="../../../assets/perro_sentado.png" alt="">
          </a>
          <a id="aNutriPerro" href="perro/comida-seca-natural">NUTRICIÓN NATURAL PARA PERRO</a>
        </div>

      </div>
      <div class="GatoPreguntaMascota">
        <img class="manchaGato" [style.display]="mostrarManchaGato ? 'block' : 'none'"
          src="../../../assets/manchaGato.webp" alt="">
        <div (mouseenter)="mostrarMancha('G')" (mouseleave)="ocultarMancha('G')">
          <img class="fotoGatoPregunta" src="../../../assets/gato_sentado.png" alt="">
          <a id="aNutriGato" href="gato/comida-seca-natural">NUTRICIÓN NATURAL PARA GATO</a>

        </div>

      </div>
    </section>
    <section id="ingredientes">
      <div class="ingredientesHead">
        <div class="ingredientesHeadeTxt">
          <p>INGREDIENTES NATURALES</p>
        </div>
        <div class="ingredientesHeadBt">

        </div>
      </div>
      <div class="ingredientesBdy">
        <div class="ingredientesTxt">
          <p>¿Te has preguntado alguna vez por qué elegimos estos ingredientes para nuestras recetas? Te contamos qué
            aporta cada uno de ellos a tu perro o gato.</p>
          <button>INGREDIENTES Y SU ORIGEN</button>
        </div>
        <div class="ingredientesScroolHr">
          <div class="card" *ngFor="let ingrediente of listaIngredientes">
            <img [src]="ingrediente.imagen" alt="">
            <p>{{ingrediente.nombre}}</p>
          </div>

        </div>
      </div>
    </section>
    <section id="Compromisos">
      <div class="compromisosHdr">
        <p>NUESTROS COMPROMISOS</p>
      </div>
      <div class="compromisosBDY">
        <div class="compromisoscard">
          <img
            src="https://bc-affinitycontent.cec.ocp.oraclecloud.com/content/published/api/v1.1/assets/CONT1CAD8E26193C47C68EC2E2E531DB29D0/native?cb=_cache_d54a&channelToken=a5af575de2b442e0aea886b3f314a2a5"
            alt="">
          <h5>CALIDAD DE LOS INGREDIENTES</h5>
          <P>Usamos carne deshuesada o pescado sin espinas como ingrediente principal en todas nuestras recetas.
            Completamos con frutas y verduras cuidadosamente seleccionadas, cocinadas para mantener al máximo los
            nutrientes. </P>
        </div>
        <div class="compromisoscard">
          <img
            src="https://bc-affinitycontent.cec.ocp.oraclecloud.com/content/published/api/v1.1/assets/CONT201DA8480C994A0B97B756D7075C47CC/native?cb=_cache_d54a&channelToken=a5af575de2b442e0aea886b3f314a2a5"
            alt="">
          <H5>ORIGEN Y PROVEEDORES DE CONFIANZA
          </H5>
          <P>Trabajamos con proveedores de confianza. Conocemos bien sus procesos de producción, así nos aseguramos de
            que nuestros ingredientes siempre son de alta calidad.</P>
        </div>
        <div class="compromisoscard">
          <img
            src="https://bc-affinitycontent.cec.ocp.oraclecloud.com/content/published/api/v1.1/assets/CONTC8903138B8B3464994F39009440E50E8/native?cb=_cache_d54a&channelToken=a5af575de2b442e0aea886b3f314a2a5"
            alt="">
          <H5>BIENESTAR DE PERROS Y GATOS
          </H5>
          <P>Nuestras recetas son completas y equilibradas, e incluyen todos los nutrientes necesarios para contribuir a
            la condición física óptima de los perros y gatos.

          </P>
        </div>

      </div>
    </section>
  </div>
</body> -->



<section id="columns">
  <div class="container">
    <div class="c1">
      <div class="items" *ngFor="let itm of c1Data.slice(0, 9)">
        <a (click)="verProducto(itm.reference, itm.name, itm.id, itm.animal, itm.food_type)">
          <img [src]="itm.image" alt="">
        </a>
      </div>
    </div>
    <div class="c2">
      <div class="items" *ngFor="let itm of c2Data.slice(0, 10)">
        <a (click)="verProducto(itm.reference, itm.name, itm.id, itm.animal, itm.food_type)">
          <img [src]="itm.image" alt="">
        </a>
      </div>
    </div>
    <div class="c3">
      <div class="items" *ngFor="let itm of c3Data.slice(0, 8)">
        <a (click)="verProducto(itm.reference, itm.name, itm.id, itm.animal, itm.food_type)">
          <img [src]="itm.image" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
