body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
   padding-inline: 200px;
}


.contenedorUsuario {
  width: 50%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  height: 50px;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

input {
  border: none;
  border-bottom: 2px solid black;
}

a.active {
  color: black;
  border-bottom: 2px solid black;
}

a:not(.active) {
  color: rgba(65, 65, 65, 0.514);

}

.caja {
  width: 500px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  padding: 15px 30px 15px 10px;
  margin: 10px;
}

button {
  padding: 15px 30px;
  color: white;
  background-color: #333;
  border: #333;
  font-size: 16px;
  font-weight: 600;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
}
