<body>
  <div class="container">

    <header>
      <button (click)="selectButton(1)" [class.active]="selectedButton === 1">Compras</button>
      <button (click)="selectButton(2)" [class.active]="selectedButton === 2">Cuenta</button>
      <button (click)="selectButton(3)" [class.active]="selectedButton === 3">Ajustes</button>
    </header>
    <div class="comprasB" *ngIf="selectedButton === 1">


    </div>
    <div class="comprasB" *ngIf="selectedButton === 2">

      <div class="cajaContainer">
        <div class="caja">
          <a class="link-with-arrows" (click)="selectBox(1)" [class.active]="selectedBox === 1">
            <span class="link-text" style="font-size: 20px;">Dirección</span>


            <span class="arrow-icon">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="32"
                height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 6l6 6l-6 6" />
              </svg>
            </span>
          </a>

          <a class="link-with-arrows" (click)="selectBox(2)">
            <span class="link-text" style="font-size: 20px;">Wallet</span>


            <span class="arrow-icon">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="32"
                height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 6l6 6l-6 6" />
              </svg>
            </span>
          </a>
          <a class="link-with-arrows" (click)="selectBox(3)">
            <span class="link-text-double" style="font-size: 20px;">Email
              <span class="additional-text">{{user.email}}</span></span>

            <span class="arrow-icon">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="32"
                height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 6l6 6l-6 6" />
              </svg>
            </span>
          </a>

          <a class="link-with-arrows" (click)="selectBox(4)">
            <span class="link-text-double" style="font-size: 20px;">Telefono
              <span class="additional-text">000000000</span></span>

            <span class="arrow-icon">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="32"
                height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 6l6 6l-6 6" />
              </svg>
            </span>
          </a>
          <a class="link-with-arrows" (click)="selectBox(5)">
            <span class="link-text-double" style="font-size: 20px;">Cambiar la contraseña
              <span class="additional-text">*********</span></span>

            <span class="arrow-icon">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="32"
                height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 6l6 6l-6 6" />
              </svg>
            </span>
          </a>

        </div>

        <div class="cajaDatos">
          <div class="cajaDatosInfo" *ngIf="selectedBox === 1">
            <a *ngFor="let direccion of user.address; let i = index">
              <span>Dirección {{i+1}}
                <button class="icon">
                  <svg (click)="cambiarDirFav(i+1)" *ngIf="direccion.primary" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: 0;">
                    <path
                      d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z">
                    </path>
                  </svg>
                  <svg (click)="cambiarDirFav(i+1)" *ngIf="!direccion.primary" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: 0;"><path d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z"></path></svg>
                </button>
              </span>
              <span>
                Calle {{direccion.street}}, número {{direccion.number}}
              </span>
              <span>
                {{direccion.town}}, {{direccion.country}}
              </span>
              <span>{{direccion.zip_code}}</span>


              <span class="tooltip">
                Marcar como predeterminado
              </span>
            </a>
          </div>
          <div class="cajaDatosInfo" *ngIf="selectedBox === 2">

          </div>
          <div class="cajaDatosInfo" *ngIf="selectedBox === 3">

          </div>
          <div class="cajaDatosInfo" *ngIf="selectedBox === 4">

          </div>
          <div class="cajaDatosInfo" *ngIf="selectedBox === 5">

          </div>
        </div>
      </div>
      <a (click)="logout()" style="font-size: 20px;">Cerrar sesión</a>
      <a style="font-size: 20px;">Eliminar Cuenta</a>
    </div>
    <div class="comprasB" *ngIf="selectedButton === 3">


    </div>
  </div>
</body>
