#header {
  background-color: #7CB342;
  height: 60vh;
  display: flex;
  flex-direction: row;
}

.text {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.text h1 {
  margin-top: 50px;
  font-size: 48px;
  font-weight: 900;
  padding: 50px;
  padding-bottom: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text p {
  padding-inline: 20px;
  padding-left: 50px;
  letter-spacing: 1px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imgD {
  width: 60%;
  overflow: hidden;
}

img {
  width: 120%;
}

.h1 {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

.textSec {
  width: 50%;
  padding: 50px;
}

.textSec h1 {
  font-size: 36px;
  padding-right: 200px;
  padding-bottom: 20px;
  letter-spacing: 1px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textSec p {
  line-height: 1.5;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 20px;

}

.textSec a {
  color: #7CB342;
  letter-spacing: 1px;

}

.textSec a:hover {
  color: #286400;
}

.imgSec {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgSec img {
  width: 300px;
}

#sub h1 {
  padding-right: 20px;
}

.atext {
  display: flex;
  flex-direction: column;
}

.atext a {
  padding-bottom: 10px;
}

#selcti {
  width: 400px;
}


@media (max-width: 768px) {
  section {
    overflow: hidden;
  }
  #header {
    flex-direction: column-reverse;
    height: auto;
  }

  .text {
    width: 100%;
    padding: 30px 0;
  }

  .imgD {
    width: 100%;
    height: auto;
  }

  .text h1 {
    font-size: 32px;
    font-weight: 900;
    padding: 0 20px;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .text p {
    letter-spacing: 1px;
    padding: 0 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .h1 {
    flex-direction: column;
  }

  .textSec {
    width: 100%;
    padding: 30px 10px;
  }

  .textSec h1 {
    font-size: 30px;
    padding-right: 200px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .textSec p {
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 20px;

  }

  .textSec a {
    color: #7CB342;
    letter-spacing: 1px;

  }

  .textSec a:hover {
    color: #286400;
  }

  .imgSec {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #selcti{
    width: 80%;
  }
  .imgSec img {
    width: 80%;
  }
  #inverse {
    flex-direction: column-reverse;
  }

  #sub p {
    padding: 0 20px 20px 0px;
  }
}



@media (min-width: 1450px) {
  body {
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    height: auto;
  }

  .container {
    max-width: 1450px;
  }
  section {
    width: 1450px;
  }
}
