<body>
  <div class="container">

    <section id="header">
      <div class="text">
        <h1>CÓMO LO HACEMOS</h1>
        <p>Te explicamos qué procesos usamos en la elaboración de nuestras recetas para conseguir una nutrición natural para tu perro o gato</p>
      </div>
      <div class="imgD">
        <img src="../../../../assets/husky.jpg" alt="">
      </div>
    </section>

    <section>
      <div class="h1">
        <div class="textSec">
          <h1>SELECIÓN DE INGREDIENTES</h1>
          <p>En nuestras recetas usamos ingredientes naturales producidos por proveedores de confianza. Te contamos por qué elegimo cada ingrediente y cómo contribuye al bienestar de tu perro o gato</p>
          <a href="ingredientes">INGREDIENTES Y SU ORIGEN</a>
        </div>
        <div class="imgSec">
          <img id="selcti" src="../../../../assets/ingredientes-desktop.png" alt="">
        </div>
      </div>
      <div class="h1" id="inverse">
        <div class="imgSec">
          <img src="https://bc-affinitycontent.cec.ocp.oraclecloud.com/content/published/api/v1.1/assets/CONTAECECD929FCD41999585F0628610D64F/native?cb=_cache_41d8&channelToken=a5af575de2b442e0aea886b3f314a2a5" alt="">
        </div>
        <div class="textSec" id="sub">
          <h1>NUESTROS PROCESOS DE ELABORACIÓN</h1>
          <p>Preparamos nuestras recetas cuidadosamente con procesos que ayudan a mantener el valor nutritivo de los ingredientes.</p>
          <div class="atext">
            <a href="">ALIMENTACIÓN SECA</a>
          <a href="">ALIMENTACIÓN HÚMEDA</a>
          <a href="">SUPERFOOD SNACK</a>
          <a href="">LIOFILIZACIÓN</a>
          </div>
        </div>
      </div>
    </section>

  </div>
</body>
