@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat&display=swap');

.container {
  background-color: rgba(255, 255, 255, 0.7); /* Color de fondo translúcido */
    backdrop-filter: blur(10px);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 850px;
  height: 500px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.interno {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}


.imgText {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  border-radius: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 30px;

}

.name {
  font-size: 2em;
  color: #000;
  font-weight: 900;
}

.descripcion {
  font-size: 1.5em;
  color: #111;
  font-weight: 300;
  padding-top: 20px;
}

.links {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

img {
  padding-top: 10px;
  width: 50%;
  height: 100%;
  object-fit: cover;

 }

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  width: 250px;
  text-align: center;
  background-color: #ffe2b780;
  color: #8f3d00;
  font-size: 36px;
  font-weight: 900;
  font-family: 'Caveat', cursive;

  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;

}

.l1 {
  font-size: 16px;
  color: #000;
  font-weight: 900;
}

.l2 {
  font-size: 12px;
  color: #333;
  font-weight: 300;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .container {
    top: 65%;
    width: 100%;
    height: 100%;
   }

  .imgText {
    flex-direction: column;
    height: 90%;

  }

  .imgText img {
    height: 65%;
    width: 100%;
    object-fit: contain;
  }

  .text {
    height: 35%;
    overflow: auto;
  }
}
