a {
  cursor: pointer;
}

.container {
  width: 100%;
  min-height: 93vh;
  display: flex;
  justify-content: center;
}

.interno {
  width: 100%;
  height: auto;
}

h1 {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-left: 40px;
}

.selectores {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-left: 40px;

}

.selectores a {
  font-size: 12px;
  color: #000;
  text-decoration: none;
}

.contenedorCards {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  width: calc(30%);
  height: width="100%";
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.5s ease forwards;
  margin: 10px;
  }

.card div {
  cursor: pointer;
}
.cardClick {
  width: 100%;
  height: 100%;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cardClick {
  position: relative;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
   background-color: #33333375;
  visibility: hidden;
  height: 80px;
}

.card:hover .info {
  visibility: inherit;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.info span {
  font-size: 2em;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000;
  margin-left: 10px;
}

.verman {
  position: absolute;
  bottom: 10px;
  right: 20px;

}

.verman a {
  color: #5c5c5c;
  text-decoration: none;
}


@media (max-width: 768px) {
  .card {
    width: calc(100%);
    height: 60%;
    margin-top: 30px;
  }

  .selectores {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }

  .selectores a {
    padding: 10px;
  }

  h1 {
    padding-top: 50px 0 20px 0;
    margin-left: 30px;
  }

}

@media (min-width: 1920px) {
  body {
    display: flex;
    justify-content: center;
    background-color: white;
    height: auto;
  }

  .container {
    max-width: 1920px;
  }

  section {
    width: 1920px;
  }
}
