 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat&display=swap');

 #columns {
   display: flex;
   justify-content: center;
   margin: 0;
   padding: 0;
   position: relative;
   height: 100vh;

 }

 .container {
   width: 100%;
   height: 105vh;
   position: absolute;
   top: -200px;
 }

 .image-container {
   width: 100%;
   height: 105%;
   transition: opacity 0.5s ease;

 }

 img {
   width: 100%;
   height: 100%;
   top: 0;
   object-fit: cover;
   overflow-x: hidden;

 }

 #Products {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }


 .cardContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 90%;
   max-width: 1920px;

 }

 .card {
   display: flex;
   flex-direction: column;
   width: calc(33.33% - 10px);
   height: 600px;
   cursor: pointer;
 }

 .card:hover .imgContainer {
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 }

 .imgContainer {
   border: 1px solid black;
   height: 450px;
   width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: flex-end;
 }


 .card:hover .addToCart button {
   visibility: visible;
 }

 .imgContainer img {
   width: 100%;
   height: 100%;
   object-fit: contain;
 }

 .txtContainer {
   padding-top: 20px;
   height: 30%;
 }

 .cargarBtn {
   padding: 20px 40px;
   color: white;
   background-color: black;
   border: none;
   font-size: 1.2em;
 }

 @media (max-width: 768px) {
   .card {
     display: flex;
     flex-direction: column;
     width: calc(100%);
     height: 500px;
     margin: 70px 0;

   }

 }
