
<section id="columns">
  <div class="container">
    <div class="image-container">
      <img [src]="imageSelect" alt="Image">
    </div>
  </div>
</section>
<section id="Products">
  <div class="cardContainer">
    <div class="card" *ngFor="let saco of piensos">
      <div class="cardClick" (click)="verProducto(saco.reference, saco.name, saco.id )">
        <div class="imgContainer">
          <img [src]="saco.image" alt="">

        </div>
        <div class="txtContainer">
          <h1>{{saco.name}}</h1>
          <p>{{saco.food_type}} {{saco.animal_age}} {{saco.animal_size}}</p>
          <p>{{saco.weigth}} KG: {{saco.price}} EUR </p>
        </div>
      </div>
    </div>

  </div>
  <button class="cargarBtn" (click)="cargar()" *ngIf="pagina*resultadosXPagina < longitudDatos">Cargar más</button>

</section>
